<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798091786997-qgts1ofj3p2ndgi32tak03g4fg7tnlrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798091786997-qgts1ofj3p2ndgi32tak03g4fg7tnlrv</string>
	<key>API_KEY</key>
	<string>AIzaSyBTwd3ww-hZhEt7VQctbh7y9ZKEvxOktNs</string>
	<key>GCM_SENDER_ID</key>
	<string>798091786997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.cherrystudio.demo</string>
	<key>PROJECT_ID</key>
	<string>thefirstapp-4ac1f</string>
	<key>STORAGE_BUCKET</key>
	<string>thefirstapp-4ac1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798091786997:ios:6bba17d76b9e85650963bc</string>
</dict>
</plist>