<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909907322227-jmuf4to1kl2coopoa1s63c5b9eveqp0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909907322227-jmuf4to1kl2coopoa1s63c5b9eveqp0e</string>
	<key>API_KEY</key>
	<string>AIzaSyB8WF67xHl8mGOHirgzMdWYjOgsTLXxwio</string>
	<key>GCM_SENDER_ID</key>
	<string>909907322227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.qiuy500.authdemo</string>
	<key>PROJECT_ID</key>
	<string>auth-demo-c7dad</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-demo-c7dad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909907322227:ios:85e3bef96feb03491e9106</string>
</dict>
</plist>